<form>
    <h2>JUMP IN!!!</h2>
    <div class="form-group">
        <label for="player_name">PLAYER NAME</label>
        <input class="form-control" type="text" name="player" [(ngModel)]="player" id="player_name">
    </div>
    <div class="form-group">
        <label for="player_name">JOIN CODE</label>
        <input class="form-control" type="text" name="code" [(ngModel)]="code" id="player_name">
    </div>
    <button (click)="changeVal()" class="btn btn-danger btn-lg">JOIN GAME</button>
</form>